<% if notice %>  
  <section id="toaster" class="toaster" aria-label="Toaster">
    <p class="notice">
      <%= notice %>
    </p>
  </section>
<% end %>
<section class="d-grid-dashboard vh-100">
  <%= render '/shared/sidebar' %>
  <main role="main" class="main">
    <section class="dashboard-head mb-2">    
      <h2>
        Article
      </h2>
      <a href="/" class="h-self-end">
        <%= image_tag 'https://secure.gravatar.com/avatar/2e9ed4a4f824520785e6562cfa37ac7d.png?d=retro&r=PG&s=50', class:'img-responsive radius-50' %>      
      </a>
    </section>
    <section class="mb-2">
      <article aria-label="Article detail">
        <h3>
          <%= @post.title %>
        </h3>
        <p>
          <%= @post.content %>
        </p>
      </article>
    </section>
    <% if @comments.any? %>      
      <section aria-label="Comment section" class="mb-2">
        <h2 class="text-black-50">
          Comments
        </h2>
        <ul class="list-unstyled list-comment">
          <% @comments.each do |comment| %>
            <li>
              <%= comment.content %>
            </li>
          <% end %>
        </ul>
      </section>
    <% end %>
    <section aria-label="Article links" class="mb-2">
      <ul class="list-unstyled list-inline">
        <li>
          <%= link_to 'â† Back', posts_path, class:"btn btn-warning" %>
        </li>
        <li>
          <%= link_to 'Edit this article', edit_post_path(@post), class:'btn btn-warning' %> 
        </li>
        <li>
          <%= link_to 'Add a comment', new_post_comment_path(@post), class:'btn btn-primary' %>
        </li>
      </ul>
    </section>
  </main>
</section>